* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background: #ece8e1;
  overscroll-behavior: none;
}
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
